<div class="flex justify-center">
    <div
        class="w-full p-4 text-center bg-white border-2 border-purple-700 rounded-lg shadow-lg md:w-1/2 lg:w-1/3 md:p-9 ">
        <h1 class="text-2xl font-bold text-center text-purple-500">Form Contact</h1>

        <form [formGroup]="contactForm" (ngSubmit)="enviar($event)" class="space-y-6">
            <div class="">
                <!--  <label for="exampleFormControlInput1" class="block text-sm font-medium text-gray-700">Email address</label>
            <input type="email" formControlName="email"
                [ngClass]="{' border-red-500':hasErrors('email', 'required') || hasErrors('email','email')}"
                class="block w-full px-3 py-2 mt-1 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        @if (hasErrors('email','email')) {
        <p class="text-xs italic text-red-500">Por favor, introduce un correo electrónico válido.</p>
        }@else if (hasErrors('email','required')) {
        <p class="text-xs italic text-red-500">Email Requerido.</p>
        } -->

                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email">

                </mat-form-field>
                @if (hasErrors('email','email')) {
                <p class="text-xs italic text-red-500">Por favor, introduce un correo electrónico válido.</p>
                }@else if (hasErrors('email','required')) {
                <p class="text-xs italic text-red-500">Email Requerido.</p>
                }

            </div>
            <div class="">
                <!-- <label for="exampleFormControlTextarea1" class="block text-sm font-medium text-gray-700">Example
                textarea</label>
            <textarea formControlName="message"
                [ngClass]="{' border-red-500':hasErrors('message', 'required') || hasErrors('message','minlength')}"
                class="block w-full px-3 py-2 mt-1 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                id="exampleFormControlTextarea1" rows="3"></textarea> -->

                <mat-form-field>
                    <mat-label>Textarea</mat-label>
                    <textarea matInput formControlName="message"
                        [ngClass]="{' border-red-500':hasErrors('message', 'required') || hasErrors('message','minlength')}"></textarea>

                </mat-form-field>

                @if (hasErrors('message', 'minlength')) {
                <p class="text-xs italic text-red-500">Por favor, el mensaje debe ser mínimo 10 caracteres.</p>

                }@else if (hasErrors('message','required')) {
                <p class="text-xs italic text-red-500">Por favor, completa este campo</p>
                }
            </div>

            <div class="ms-4">
                <!-- <button type="submit" class="p-3 text-white bg-orange-500 rounded">Send</button> -->
                <button type="submit" mat-raised-button color="primary">Send</button>
            </div>

        </form>

    </div>
</div>