<div class="w-full p-2 m-0 mb-1 bg-purple-600 ">
  <div class="container flex flex-wrap items-center mx-auto">
    <div class="flex justify-center w-full font-extrabold text-white md:w-1/2 md:justify-start">
      <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
        Best Products
      </a>
    </div>
    <div class="flex content-center justify-between w-full pt-2 md:w-1/2 md:justify-end">
      <ul class="flex flex-col items-center justify-between flex-1 list-reset md:flex-row">
        <li class="mr-3">
          <a class="inline-block px-4 py-2 text-white no-underline hover:text-underline" routerLink="" [ngClass]="{'text-[#82370c] font-bold':menuoption == 'home'}" (click)="onOption('home')" >Home</a>
        </li>
        <li class="mr-3">
          <a class="inline-block px-4 py-2 text-white no-underline hover:text-underline " routerLink="products"  [ngClass]="{'text-[#82370c] font-bold':menuoption == 'products'}" (click)="onOption('products')">Products</a>
        </li>
        <li class="mr-3">
          <a class="inline-block px-4 py-2 text-white no-underline hover:text-underline" routerLink="contact"  [ngClass]="{'text-[#82370c] font-bold':menuoption == 'contact'}" (click)="onOption('contact')">Contact </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
