<div class="bg-cover bg-center h-[90vh] text-white py-24 px-10 object-fill" style="background-image: url('../../../assets/product.jpg')">
    <div class="md:w-1/2">
      <p class="font-bold text-2xl mb-2 text-[#82370c] ">Welcome to our market web</p>
      <h1 class="font-bold text-5xl mb-4 text-[#82370c]">We sell the best products</h1>
      <button class="mt-4 bg-[#82370c] p-2 pl-4 pr-4 rounded-lg text-lg" routerLink="/products" routerLinkActive="router-link-active"  >Ver productos</button>
    </div>
  </div>
  