<div class="bg-cover bg-center h-[90vh] text-white py-24 px-10 object-fill" style="background-image: url('../../../assets/product.jpg')">
    <div class="md:w-1/2">
      <p class="mb-2 text-2xl font-bold text-purple-500 ">Welcome to our market web</p>
      <h1 class="mb-4 text-5xl font-bold text-purple-500">We sell the best products</h1>
      <!-- <button class="mt-4 bg-[#82370c] p-2 pl-4 pr-4 rounded-lg text-lg" routerLink="/products" routerLinkActive="router-link-active"  >Ver productos</button> -->
      <button mat-raised-button color="primary" routerLink="/products" routerLinkActive="router-link-active">View products</button> 
    </div>
  </div>
  